/* General Header Styles */
.header {
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.5s ease, position 0.5s ease;
}

/* Absolute position when not scrolled */
.header--absolute {
  position: absolute;
  top: 0;
}

.header--transparent {
  background-color: transparent;
}

/* Sticky position when scrolled */
.header--sticky {
  position: fixed;
  top: 0;
}

.header--black {
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Logo Styling */
.header__logo {
  height: 35px;
  cursor: pointer;
}

/* Navigation Styles */
.header__nav {
  display: flex;
  justify-content: flex-start;
  /*Alignlinkstotheleft*/align-items: center;
  flex-grow: 1;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease;
  margin-left: 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header__nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header__nav a {
  color: #e5e5e5;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.header__nav a:hover {
  color: white;
}

/* Icons */
.header__icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__icon {
  color: #e5e5e5;
  cursor: pointer;
  font-size: 30px;
  transition: color 0.3s ease, font-size 0.3s ease;
}

.header__icon:hover {
  color: white;
}

/* Menu Icon for Mobile */
.header__menu-icon {
  display: none;
  color: #e5e5e5;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

/* Responsive */
@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  /* Logo shrinks proportionally */
  .header__logo {
    height: 25px;
  }

  /* Top-right icons remain visible and shrink */
  .header__icons {
    gap: 10px;
  }

  .header__icon {
    font-size: 25px;
  }

  /* Menu Icon Display */
  .header__menu-icon {
    display: block;
    font-size: 25px;
  }

  /* Hide Navigation by Default */
  .header__nav {
    position: absolute;
    top: 60px;
    left: 10px;
    flex-direction: column;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    z-index: 100;
  }

  /* Show Navigation When Menu is Open */
  .header__nav--open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  /* Navigation Links Adjusted */
  .header__nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .header__nav a {
    font-size: 16px;
    font-weight: 500;
  }
}
