/* Footer.css */
.footer {
  background-color: #111;
  color: #999;
  padding: 20px;
  text-align: center;
}

.footer__links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.footer__links a {
  color: #999;
  text-decoration: none;
  font-size: 14px;
}

.footer__links a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer__text {
  font-size: 12px;
  margin-top: 10px;
}
